/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

	header{
		width: 50%;
	}
	
	header p{
		width:50%;
	}

	header a{
		width: 20%;
	}
	
	menu a {
		width: 50%;
		display:inline-table;
		justify-content:flex-start;
	}

}

/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {...}

Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {...}

/********************************************************************************************/

body {
	background-color: gray;
	font-family:'Times New Roman', Times, serif;
}

header {
	background-color: black;
	color: white;
	text-align: left;
	font-size: 3rem;
}

header >p{
	position: absolute;
	left: 210px;
    font-size: 1.5rem;
}

header a {
	float: right;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-end;
	color: white;
	text-align: center;
	padding: 1rem 2rem;
	text-decoration: none;
}

/* Menü oben */
menu {
	overflow: hidden;
	background-color: darkgray;
}

/* Navbar oben */
menu a {
	float: left;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	color: white;
	text-align: center;
	padding: 1rem 2rem;
	text-decoration: none;
}
  
/* Links Menü oben farbe ändern bei hover */
menu a:hover {
	background-color: darkgrey;
	color: white;
}

main{
	background-color: dark-gray;
	display:block;
	text-align:left;
}

.SideNav{
	padding: 0.5rem;
	display: grid;
	grid: auto-columns;
	border:box;
	border-style: dashed;
	justify-content:flex-start;
	align-items:left;
	height: justify-content;
	width: 15rem;
	background-color: darkgray;
	text-align: left;
	text-decoration: none;
	position:absolute;
}

.SideNav a{
	color:white;
	font-size: 1rem;
	padding:0.8rem;
}

.SideNav a:hover {
	background-color: grey;
	color: white;
}

.SideNavMitte{
	display:grid;
	text-align:center;
	padding:1rem;
}

.SideNavEnde{
	display:grid;
	text-align:end;
	padding:1rem;
}

.blubber{
	border-style: dotted;
	margin: 0.1rem;
}

.Quelle{
	color:white;
	margin-left:18rem;
	display: block;
	text-align:left;
}

.content{
	margin-left:18rem;
	background-color: gray;
	display: block;
	text-align:left;
}

.gui{
	background-color: black;
	border: black;
	color: white;
	font: Retro, sans-serif;
	padding: 0.4rem;
	text-align: center;
	align-items:center;
}

.gui button{
	background-color: black;
	border: solid;
	border-color:white;
	color: white;
	font: Retro, sans-serif;
	padding: 0.4 rem;
	width: 20%;
}

.gui label{
	background-color: black;
	color: white;
	border:black;
	font: Retro, sans-serif;
	padding:0.4rem;
}

.gui volume{
	appearance: none;
	width: 100%;
	height: 15px;
	border-radius: 5px;  
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}
	  
.gui volume::-webkit-slider-thumb {
	appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%; 
	background: #04AA6D;
	cursor: pointer;
}

.gui voume::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #04AA6D;
	cursor: pointer;
}

#game{
	/**background-image: url('../Images/TV.png');**/
	background-size:cover;
	width:50rem;
	height:30rem;
	border:0.2rem solid black;
	padding:4.8rem 14.5rem 6rem 5rem;	
}

#game canvas{
	background-color: black;	
	width:100%;
	height:100%;
	border-top: 0.2rem solid white;
}

#game section{
	display: flex;
	justify-content: space-around;
	gap:0.5rem;
}

#score, #lives{
	font-size:2rem;
	font-family:arial;
	color:white;	
}

footer{
    background-color: dark-gray;
    display: block;
    text-align: center;
    color: lightgray;
}
