/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	body{
		max-width:100%
	}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

body {
	background-color: gray;
	font-family:'Times New Roman', Times, serif;
}

header {
	background-color: black;
	color: white;
	text-align: left;
	font-size: 3rem;
}

header p{
	position: absolute;
	left: 210px;
}

header a {
	float: right;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-end;
	color: white;
	text-align: center;
	padding: 1rem 2rem;
	text-decoration: none;
}

/* Menü oben */
menu {
	overflow: hidden;
	background-color: darkgray;
}
 
  /* Navbar oben */
menu a {
	float: left;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	color: white;
	text-align: center;
	padding: 1rem 2rem;
	text-decoration: none;
}
  
  /* Links Menü oben farbe ändern bei hover */
menu a:hover {
	background-color: grey;
	color: white;
}

main{
	background-color: dark-gray;
	display:block;
	text-align:left;
}

.SideNav{
	padding: 0.5rem;
	display: grid;
	grid: auto-columns;
	border:box;
	border-style: dashed;
	justify-content:flex-start;
	align-items:left;
	height: justify-content;
	width: 15rem;
	background-color: darkgray;
	text-align: left;
	text-decoration: none;
	position:absolute;
}

.SideNav a{
	color:white;
	font-size: 1rem;
	padding:0.8rem;
}

.SideNav a:hover {
	background-color: grey;
	color: white;
}

.SideNavEnde{
	text-align:end;
}

.content{
	margin-left:18rem;
	background-color: gray;
	display: block;
	text-align:left;
}

.blubber{
	border-style: dotted;
	margin: 0.1rem;
}

.portfolio{
	border-style: dotted;
	margin:0.01rem;
}

.historisches{
	border-bottom: dashed;
	margin: 0.1rem;
}

.zeitstrahl{
	border-style: solid;
	margin: 0.1rem;
}

.Quelle{
	color:white;
	margin-left:18rem;
	display: block;
	text-align:left;
}

#game{
	background-image: url('../Images/Tisch.png');
	background-size:cover;
	width:50rem;
	height:30rem;
	border:0.2rem solid black;
	padding:4.8rem 14.5rem 6rem 5rem;	
}

#game canvas{
	background-color: black;	
	width:100%;
	height:100%;
	border-top: 0.2rem solid white;
}

#game section{
	display: flex;
	justify-content: space-around;
	gap:0.5rem;
}

#score, #lives{
	font-size:2rem;
	font-family:arial;
	color:white;	
}

footer{
	background-color: dark-gray;
	color: white;
}

h6{
	font-size: 1rem;
	text-decoration:underline;
}

p{
	font-size: 1rem;
}